//
// SETTINGS
// ========
// Project specific setings which can be changed to modify the basic look and
// feel of the project with little effort.
//
// 1. BREAKPOINTS AND MEDIA QUERIES
// 2. COLOURS
// 3. TYPEFACES
//


//
// 1. BREAKPOINTS AND MEDIA QUERIES
// Setup standard widths to pass to media queries
//
$mq--wide = 700px


//
// 2. COLOURS
//

// Common Project Colours
$color--black = #000
$color--grey = #e3e3e3
$color--grey--dark = #c8c8c8
$color--slate = #6a5acd
$color--white = #fff


//
// 3. TYPEFACES
// Amend variable names to suit fonts used.
//

// FONTS USED IN THIS PROJECT:
//
// Font Name  | Legacy Name | Weight | Style   |
// –––––––––-–|–––––––––––––|––––––––|–––––––––|
// sans serif |             | 400    | Regular |

$font--sans-serif = Arial, sans-serif

$font--weight--regular = 400
