@require 'stylus-mixins'

$color--black = #000
$color--slate = #6a5acd
$color--purple = #4f4399
$color--white = #fff

html
  height 100%

body
  background $color--slate embedurl('/img/_logo.png') no-repeat 50% 50%
  background-image embedurl('/img/_logo.svg'), none
  color $color--white
  font 200%/1.5 sans-serif
  height 100%
  margin 0 auto
  width 90%

p
  margin 0
  position relative
  text-align center
  top 50%
  transform translateY(-50%)

small
  bottom 1em
  display block
  font-size 45%
  left 1em
  position absolute
  right 1em
  text-align center

a
  border-bottom 2px dashed $color--white
  border-color rgba($color--black, .25)
  color $color--white
  text-decoration none
