//
// MAIN FOOTER
// ===========
//

.main-footer
  font-size 90%
  padding 0 5em 6.5em
  text-align center

  p
    margin 1em 0 2em

.clock-logo
  hide-text()
  background embedurl('/img/_clock-logo.png') no-repeat 50% 50%
  background-image embedurl('/img/_clock-logo.svg'), none
  border 0
  display block
  height 48px
  margin 0 auto
  text-indent 100%
  width 150px
