//
// MAIN CONTENT
// ===========
//

.container
  margin auto
  max-width 40em
  padding 5em 5em

.container--first
  padding-bottom 5em
  padding-top 0

.highlight
  background rgba($color--black, 0.25)
