footer.main-footer.highlight(role='contentinfo')
  a.clock-logo(href='http://clock.co.uk/') Clock Limited
  p Built for use at #[a(href='http://clock.co.uk/') Clock Limited].
  p Icon by #[a(href='http://www.thenounproject.com/GregSuj') Gregory Sujkowski] from the #[a(href='http://www.thenounproject.com') Noun Project].
